<h4>Post details</h4>
<!--  -->
<p>
	<%= @row['content']%>
	<br><br>

	Added at <%= @row['created_date']%>

</p>

<% @comments.each do |coment|%>
		<p>
			<%= cometn['content']%>
		</p>
<%end%>

<form action="/details/<%= @row['id']%>" method="POST">
		<textarea name="content" id="fomcomment" rows="6"></textarea >

		<button type="submit" class="btn bnt-primary">
			Add comment
		</button>
</form>




