<h2>Latests posts:</h2>

<br>

<% @results.each do |post|%>
	<div >
		<%= post['content']%>
		<br>
		<br>
		Added at <%= post['create_date']%>
		<br>
		<br>
		<a href="/details/<%= post['id']%>">Comments</a>
	</div>
	<hr>
<% end %>